@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');
:root{
  --bs-primary: #bd5d38;
}

.primary{
  color: var(--bs-primary);
}
*{
  margin: 0;
  font-family: 'Saira Extra Condensed', sans-serif;
  
}
.row {
  display: flex;
  flex-direction: row;
}

.ml-auto{
  margin-left: auto;
}

.gap{
  margin-bottom: 50px;
}

.p-10{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
